@page 
@model OdeToFood.Pages.Restaurants.ListModel
@{
}

<h1>Restaurants</h1>
<a asp-page=".\Edit" class="btn btn-success" >Novo Restaurante</a>
<hr />
<form method="get" >
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-success">
                    <i class="glyphicon glyphicon-search">Pesquisar</i>
                </button>
            </span>
        </div>

    </div>
</form>    
<table class="table">
    <tr>
        <td>Codigo</td>
        <td>Nome</td>
        <td>Localização</td>
        <td>Tipo de Comida</td>
        <td>Detalhes</td>
        <td>Editar</td>
        <td>Excluir</td>
    </tr>
    @foreach (var item in Model.Restaurants)
   {
       <tr>
            <td>@item.Id</td>
           <td>@item.Name</td>
           <td>@item.Location</td>
           <td>@item.Cuisine</td>
           
           <td><a class="btn btn-success" asp-page="./Detail" asp-route-restaurantId="@item.Id"><i>Detalhes</i></a></td>
           <td><a class="btn btn-info" asp-page="./Edit" asp-route-restaurantId="@item.Id"><i>Editar</i></a></td>
           <td><a class="btn btn-danger" asp-page="./Delete" asp-route-restaurantId="@item.Id"><i>X</i></a></td>
       </tr>
       
   }
</table>
@if (Model.TempDataMessage != null)
{
    <div  class="alert alert-success"> @Model.TempDataMessage ! </div>
    
}

@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_RestaurantPartialView" model="restaurant"/>
}